/*  Shah, Urvija    Account:  jadrn046
    CS545, Fall 2015
    Project #3
*/     

* {
    margin: 0; 
    padding: 0;    
}

html, body {
    min-width: 900px;
    height: 97%;
   	font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif; 
	background:#6F3662;
}

/*=========== common to all html =============*/

#image {
	float: left;
	width: 250px;
	margin-left: 25px;
	margin-top: 15px;
}

.clear_it {
    clear: both;
}

#top_level h1 {
	min-width: 1100px;
	text-align: center;
	padding: 60px 0 60px 0;
	font-size: 350%;
	color: #F3F4EC;
}	

#navigation{
	min-width: 1200px;
	margin: 1% 5% 1% 5%;
	height: 20px;
	border-radius: 10px;
	background-color: #F3F4EC;
	padding: 5px 10px 5px 10px; 
	border: 3px solid #424242;
	position: relative;
}

#container {
	min-height: 90%;
	min-width: 1200px;
	background-color: #F3F4EC;
	margin: 1% 5% 1% 5%;
	padding-bottom:10px;
	border-radius: 20px;
	border: 3px solid #424242;
	position: relative;
} 

/*=========== contact.html =============*/

#address {
	text-align: center;
	font-size: 120%;
}

/*=========== index.html =============*/

#imageindexpage {
	display: block;
	margin: 0 auto 0 auto;
	border-radius: 10px;	
}

h2 {
	padding: 15px;
	font-size: 180%;
	color: #8A5C2E;
}

p {
	padding: 10px 15px 10px 15px;
	text-align: justify;
}

#camplist li {
	list-style-type: square;
    margin-left: 60px; 
}

#indexpagebuttons {
	text-align: center;
	margin: 20px auto 20px auto; 
}

.indexpagebutton {
	background-color: #424242; 
	margin: 20px 10px 20px 10px;
	padding: 10px 50px 10px 50px;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;	
	}

/*=========== enrollment_form.html =============*/
    
h1 {
	text-align: center;
	padding: 25px 0 30px 0;
	font-size: 200%;
	color: #8A5C2E;
}

fieldset {
	width: 1100px;
	display: block;   
	border: 3px solid #6E6568;
	border-radius: 10px; 
	background-color: #FFF;
	margin: 10px auto 15px auto;
	padding: 15px;
}   

legend {
	border: 2px outset #6E6568;
	border-radius: 10px;
	background-color: #CFCFC4;
	padding: 10px 15px 10px 15px;
}

.title { 
	float: left;
	width: 230px;
	text-align: left;
	clear: left;
}

.required {
	color: red;
}

input {
	border: 1.5px solid #AAA;
	height: 20px;
	font-size: 15px;
}

#checkboxes {
    display: inline;
    padding-left: 10px;
    padding-right: 0px;
    margin: 15px;
}

#checkboxes label {
	margin-right: 20px;
	margin-bottom: 12px;
	font-size: 15px;
}

#checkboxes input {
	width: 17px;
	height: 17px;
	margin-bottom: 12px;
}

select {
  font-size: 15px;
  width: 100px;
}

ul.parent_info li, ul.child_info li, ul.emergency_info li {
	display: inline-block;
	margin-bottom: 7px;
}

.listitem {
	display: block;
	text-align: center;
}

#gender {
	display: inline;
}

#enrollpagebutton {
    text-align: center;
} 

.enrollpagebutton {
	background-color: #CFCFC4;
	padding: 10px 30px 30px 30px;
	border: 2px outset #6E6568;
	font-size: 100%;
	border-radius: 10px;	
}

#message_line {
	text-align:center;
	font-size:18px;
	font-weight:500;
	color:#EC0000;
	margin-bottom:8px;
}

.error {
	border: 1px solid #BB2004;
	background-color: #FFA8A8;
}

/*==== new added for project - 3=====*/

h3 {
	padding: 15px;
	text-align: center;
	font-size: 180%;
	color: white;
}

#busy_wait {
    display: block;
    margin: auto;
    visibility: hidden;
    width: 75px;
}

/*========== Confirmation.php =========*/

#confirm_container {
	min-height: 90%;
	min-width: 900px;
	background-color: #F3F4EC;
	margin: 1% 5% 1% 5%;
	padding-bottom:10px;
	border-radius: 20px;
	border: 3px solid #424242;
	position: relative;
} 

.enrollTable {
	width: 450px;
}

table {
    width: 400px;
    margin: auto;
}
    
td {
    border: 1px solid black;
    padding: 5px;
}            

th {
	border-collapse: collapse;
	border: 1px solid black;
}

/*============ Report.php ============*/

.report {
	width: 960px;
}

.reportColumn {
	width: 350px;
	vertical-align: top;
}

#reportImageColumn {
	width: 260px;
	text-align: center;
}

.centerReport {
	margin: 0 auto 20px auto; 
	width: 960px;
}
